.header {
    width: 100%;
    background: #242424;
    height: 2.34261vw;
}

.header p,
.header a {
    color: #fff;
    font-size: 0.87848vw;
}

.header a:hover {
    color: #ff0000;
}

.header .header-container {
    display: flex;
    width: 87.84773vw;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.header-container .header-login {
    display: flex;
}

.header-container .login-section {
    display: flex;
    height: 100%;
    width: 7.9063vw;
    align-items: center;
    justify-content: space-between;
}

.header-container .telephone {
    width: 21.96193vw;
    height: 100%;
    margin-left: 12.81113vw;
    line-height: 2.34261vw;
    font-size: 1.1713vw;
}

.header-container .header-nav {
    display: flex;
    align-items: center;
}

.header-nav a {
    height: 1.02489vw;
    padding: 0 1.02489vw;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 1.02489vw;
}

.header-nav a:last-child {
    border-right-color: transparent;
}

.header-nav a:first-child {
    color: #ff0000;
}

.content {
    width: 100%;
}

.content .service-nav {
    width: 87.84773vw;
    margin: 1.0981vw auto 0;
}

.service-nav .top {
    display: flex;
    justify-content: space-between;
}

.service-nav .top h1 a {
    display: block;
    width: 14.64129vw;
    height: 6.36896vw;
    background: url('../images/content/service-nav/nav_logo.png') no-repeat center;
}

.service-nav .searchbar {
    width: 62.95754vw;
    height: 5.49048vw;
    box-sizing: border-box;
}

.service-nav .searchbar .search-title {
    display: block;
    width: 7.32064vw;
    height: 2.19619vw;
    color: #fff;
    background: #28a449;
    text-align: center;
    line-height: 2.19619vw;
}

.service-nav .searchbar .search {
    display: flex;
    width: 100%;
    padding-right: 5.85652vw;
}

.searchbar .search input {
    width: 38.43338vw;
    height: 3.29429vw;
    line-height: 1.31772vw;
    padding: 0.51245vw 1.0981vw;
    box-sizing: border-box;
    border: 1px solid #28a449;
}

.searchbar .search input::-webkit-input-placeholder {
    color: #bbb;
}

.searchbar .search a {
    display: flex;
    width: 5.85652vw;
    height: 3.29429vw;
    text-align: center;
    line-height: 3.29429vw;
    box-sizing: border-box;
    background-color: #28a449;
    align-items: center;
    justify-content: center;
}

.searchbar .search a i {
    width: 1.61054vw;
    height: 2.34261vw;
    background: url('../images/content/grey_together.png') no-repeat -9.37042vw 0;
}

.service-nav .bottom {
    position: relative;
    display: flex;
    margin-top: 0.73206vw;
    justify-content: flex-end;
}

.service-nav .bottom .all-service {
    position: absolute;
    left: 0;
    width: 14.64129vw;
    z-index: 1000;
}

.bottom .all-service .title {
    padding: 0 1.46413vw;
    line-height: 2.56223vw;
    color: #28a449;
    border: 1px solid #28a449;
    border-bottom: none;
    box-sizing: border-box;
    font-size: 1.1713vw;
}

.bottom .all-service .service-detail {
    position: relative;
    height: 32.9429vw;
    background: rgba(0, 0, 0, .5) url('../images/content/service-nav/left_logo.png') no-repeat center 90%;
}

.bottom .all-service .item {
    padding: 0 2.19619vw 0 1.46413vw;
    width: 14.64129vw;
    height: 5.49048vw;
    line-height: 5.49048vw;
    box-sizing: border-box;
    cursor: pointer;
    color: #f5f5f5;
}

.bottom .all-service .item:hover {
    background: #28a449;
}

.bottom .all-service .item:hover .item-detail {
    display: block;
}

.service-detail .item .item-title {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.service-detail .item .item-title span {
    width: 2.34261vw;
    height: 2.34261vw;
    background: url('../images/content/grey_together.png') no-repeat 0 0;
}

.service-detail .item:nth-child(2) .item-title span {
    background-position-x: -1.97657vw;
}

.service-detail .item:nth-child(3) .item-title span {
    background-position-x: -4.31918vw;
}

.service-detail .item:nth-child(4) .item-title span {
    background-position-x: -6.95461vw;
}

.service-detail .item .item-title h3 {
    font-size: 1.1713vw;
}

.service-detail .item .item-title i {
    font-size: 1.02489vw;
    color: #ddd;
}

.service-detail .item .item-detail {
    display: none;
    position: absolute;
    top: 0;
    left: 14.64129vw;
    width: 73.20644vw;
    height: 32.9429vw;
    padding: 2.92826vw 7.32064vw 0 0;
    border: 1px solid #28a449;
    border-left: none;
    box-sizing: border-box;
    color: #666;
    background: #fff url('../images/content/service-nav/bbg.png') no-repeat 70% 100%/70%;
}

.service-detail .item .item-detail li {
    display: flex;
    margin-bottom: 2.92826vw;
}

.item-detail h4 {
    width: 9.15081vw;
    height: 1.46413vw;
    line-height: 1.46413vw;
    font-size: 1.1713vw;
    text-align: center;
}

.item-detail .service-link {
    display: flex;
    width: 56.36896vw;
    flex-wrap: wrap;
}

.item-detail .service-link a {
    height: 1.46413vw;
    line-height: 1.46413vw;
    padding: 0 2.19619vw 1.46413vw 0;
}

.item-detail .service-link a:hover {
    color: #28a449;
}

.item-detail .service-link a:first-child {
    color: #ff0000;
}

.service-nav .bottom .nav {
    display: flex;
    width: 64.42167vw;
}

.service-nav .bottom .nav a {
    display: block;
    height: 2.63543vw;
    padding: 0 2.19619vw;
    font-size: 1.1713vw;
    color: #666;
    line-height: 2.63543vw;
}

.service-nav .bottom .nav a.active {
    color: #fff;
    background: #28a449;
}

.main-slider .bx-wrapper {
    margin-bottom: 0;
    box-shadow: none;
    border: none;
    border-top: 1px solid #28a449;
}

.bx-controls .bx-controls-direction a {
    width: 1.46413vw;
    height: 1.46413vw;
    margin-left: 1.0981vw;
    border: 0.29283vw solid #eee;
    transform: rotate(45deg);
}

.bx-controls .bx-controls-direction a.bx-prev {
    margin-left: 1.0981vw;
    border-top: none;
    border-right: none;
}

.bx-controls .bx-controls-direction a.bx-next {
    margin-right: 1.0981vw;
    border-bottom: none;
    border-left: none;
}

.pioneer-service {
    width: 100%;
    background: #fff;
    padding-bottom: 3.66032vw;
}

.pioneer-service .pioneer-service-container {
    width: 87.84773vw;
    margin: 0 auto;
}

.pioneer-service-container h3 {
    height: 5.85652vw;
    line-height: 5.85652vw;
    text-align: center;
    font-size: 1.75695vw;
}

.pioneer-service-container #service {
    width: 100%;
}

#service ul {
    width: 83.45534vw;
    margin: 0 auto;
}

.pioneer-service-container #service,
#service ul {
    position: relative;
    height: 25.62225vw;
}

#service .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.83016vw;
    height: 1.83016vw;
    transform: rotate(45deg);
    border: 0.43924vw solid rgb(200, 200, 200);
    border-radius: 0.21962vw;
    z-index: 1000;
    cursor: pointer;
}

#service .prev {
    border-top: none;
    border-right: none;
}

#service .next {
    right: 0;
    border-bottom: none;
    border-left: none;
}

#service ul li {
    position: absolute;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    background: #f2f2f2;
}

#service ul li.actived {
    background: #28a449;
}

#service ul li.actived h4,
#service ul li.actived p,
#service ul li.actived em {
    color: #fff;
}

#service ul li .service-content {
    display: flex;
    height: 20.86384vw;
    box-sizing: border-box;
    padding: 1.83016vw 1.46413vw;
    flex-direction: column;
    align-items: center;
}

.service-content .icon {
    display: flex;
    width: 5.85652vw;
    height: 5.85652vw;
    border-radius: 50%;
    background: #fff;
    justify-content: center;
    align-items: center;
}

#service ul .service-2 span {
    background-position: 0 -16.69107vw;
}

#service ul .service-3 span {
    background-position: -0.14641vw -21.96193vw;
}

#service ul .service-4 span {
    height: 2.48902vw;
    background-position: 0 -19.47291vw;
}

#service ul .service-5 span {
    height: 2.48902vw;
    background-position: 0 -13.90922vw;
}

#service ul .service-1.actived span {
    background-position: -2.56223vw 0;
}

#service ul .service-2.actived span {
    background-position: -2.56223vw -16.69107vw;
}

#service ul .service-3.actived span {
    background-position: -2.56223vw -21.96193vw;
}

#service ul .service-4.actived span {
    background-position: -2.56223vw -19.47291vw;
}

#service ul .service-5.actived span {
    background-position: -2.56223vw -13.90922vw;
}

.service-content .icon span {
    width: 2.56223vw;
    height: 2.78184vw;
    background: url('../images/content/fuwu_together.png') 0 0;
}

.service-content h4 {
    height: 3.51391vw;
    line-height: 3.51391vw;
    font-size: 1.31772vw;
    text-align: center;
    margin-top: 1.0981vw;
}

.service-content p {
    height: 3.22108vw;
    font-size: 0.87848vw;
    line-height: 1.61054vw;
    color: #666;
    text-align: center;
    padding: 0 0.36603vw;
}

.service-content em {
    font-size: 1.31772vw;
    line-height: 2.78184vw;
    color: #28a449;
    text-align: center;
    margin-top: 0.73206vw;
}

.content .recommend {
    width: 100%;
    background: #f2f2f2;
    padding-bottom: 1.83016vw;
}

.recommend .recommend-container {
    width: 87.84773vw;
    margin: 0 auto;
}

.recommend-container h3 {
    height: 8.05271vw;
    line-height: 8.05271vw;
    text-align: center;
    font-size: 1.75695vw;
}

.recommend-container a {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    background: #fff;
    justify-content: space-between;
}

.recommend-container a h4 {
    font-size: 1.31772vw;
    line-height: 2.78184vw;
}

.recommend-container a p {
    font-size: 0.87848vw;
    line-height: 2.34261vw;
    color: #666;
}

.recommend-container a:hover {
    background: #28a449;
}

.recommend-container a:hover h4,
.recommend-container a:hover p,
.recommend-container a:hover .describe span,
.recommend-container a:hover em {
    color: #fff;
}

.recommend-container a .describe span {
    display: block;
    font-size: 1.1713vw;
    line-height: 4.68521vw;
    color: #f63939;
}

.recommend-container a span em {
    font-size: 1.75695vw;
}

.recommend-container .recommend-top,
.recommend-container .recommend-down {
    display: flex;
    width: 100%;
    height: 16.25183vw;
    margin-bottom: 1.0981vw;
    justify-content: space-between;
}

.recommend-top a:nth-child(1) {
    width: 28.55051vw;
    margin-right: 1.0981vw;
    padding: 2.19619vw;
}

.recommend-top a .picture,
.recommend-down a .picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommend-top a:nth-child(1) .picture span {
    width: 8.05271vw;
    height: 7.02782vw;
    background: url('../images/content/recommend/hot_icon1.png') no-repeat 0 0;
}

.recommend-top a:nth-child(1):hover .picture span {
    background-position-x: -8.05271vw;
}

.recommend-top a:nth-child(2) {
    width: 58.19912vw;
    padding: 2.19619vw;
}

.recommend-top a:nth-child(2) .picture span {
    width: 39.31186vw;
    height: 10.83455vw;
    background: url('../images/content/recommend/hot_icon2.png') no-repeat 0 0;
}

.recommend-top a:nth-child(2):hover .picture span {
    background-position-x: -39.31186vw;
}

.recommend-container .recommend-down a {
    flex: 1;
    margin-right: 1.0981vw;
    padding: 2.19619vw;
}

.recommend-container .recommend-down a:last-child {
    margin-right: 0;
}

.recommend-down a .picture span {
    width: 8.05271vw;
    height: 7.02782vw;
}

.recommend-down a:nth-child(1) .picture span {
    background: url('../images/content/recommend/hot_icon3.png') no-repeat 0 0;
}

.recommend-down a:nth-child(2) .picture span {
    background: url('../images/content/recommend/hot_icon4.png') no-repeat 0 0;
}

.recommend-down a:nth-child(3) .picture span {
    background: url('../images/content/recommend/hot_icon5.png') no-repeat 0 0;
}

.recommend-down a:hover .picture span {
    background-position-x: -8.05271vw;
}

.content .customer-feedback {
    width: 100%;
    background: #fff;
    margin-bottom: -4.39239vw;
    padding-bottom: 2.92826vw;
}

.customer-feedback .customer-feedback-container {
    width: 87.84773vw;
    margin: 0 auto;
}

.customer-feedback-container .customer-feedback-slider {
    position: relative;
}

.customer-feedback-container h3 {
    padding-top: 2.19619vw;
    font-size: 1.75695vw;
    line-height: 3.22108vw;
    color: #666;
    text-align: center;
    font-weight: 600;
}

.customer-feedback-slider li {
    display: flex;
}

.customer-feedback-slider li .left {
    display: flex;
    width: 60.02928vw;
    flex-direction: column;
}

.customer-feedback-slider li .left h4 {
    font-size: 1.46413vw;
    font-family: 'KaiTi';
    color: #666;
    text-align: center;
    line-height: 7.17423vw;
}

.customer-feedback-container .left .describe em {
    display: block;
    font-size: 1.75695vw;
    line-height: 3.22108vw;
}

.customer-feedback-container .left .describe span {
    display: block;
    font-size: 1.02489vw;
    color: #b2b2b2;
    line-height: 2.48902vw;
}

.customer-feedback-container .left .describe i {
    display: block;
    font-size: 0.87848vw;
    color: #b2b2b2;
    line-height: 2.34261vw;
}

.customer-feedback-slider li .left .describe {
    height: 12.4451vw;
    padding: 2.92826vw;
    box-sizing: border-box;
    background: #f2f2f2;
}

.customer-feedback-slider li .left h4,
.customer-feedback-slider li .left .end {
    flex: 1;
    background: rgb(250, 250, 250);
}

.customer-feedback-slider li .left .end {
    flex: 1;
    background: rgb(235, 235, 235);
}

.customer-feedback-slider li #next_btn {
    position: relative;
    width: 8.78477vw;
    height: 3.66032vw;
}

#next_btn {
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    transform: translateY(-50%);
    width: 8.78477vw;
    height: 3.66032vw;
}

#next_btn p {
    width: 5.85652vw;
    height: 100%;
    line-height: 3.66032vw;
    text-align: center;
    background: #28a449;
    color: #fff;
}

#next_btn .arrow {
    display: flex;
    flex: 1;
    background: #666;
    justify-content: center;
    align-items: center;
}

#next_btn .arrow i {
    color: #eee;
}

#next_btn .bx-next {
    position: absolute;
    width: 100%;
    height: 100%;
}

.customer-feedback-slider .bx-wrapper {
    border: none;
    box-shadow: none;
}

.customer-feedback-slider .bx-controls-direction a {
    display: none;
}

.content .lawyer {
    width: 100%;
    height: 32.9429vw;
    background: url('../images/content/lawyer/lvshi.png') repeat-x;
}

.lawyer .lawyer-container {
    width: 87.84773vw;
    margin: 0 auto;
}

.lawyer-container .lawyer-slider {
    padding-top: 2.92826vw;
}

.lawyer-container h3 {
    font-size: 1.75695vw;
    line-height: 1.75695vw;
    padding-top: 2.92826vw;
    color: #FFF;
    text-align: center;
    font-weight: 600;
}

.lawyer-slider .bx-wrapper {
    background: transparent;
    border: none;
    box-shadow: none;
}

.lawyer-slider .bx-controls-direction {
    z-index: 1000;
}

.lawyer-slider li {
    display: flex;
}

.lawyer-slider li a {
    display: flex;
    flex: 1;
    height: 20.86384vw;
    box-sizing: border-box;
    padding: 1.83016vw 1.46413vw;
    flex-direction: column;
    align-items: center;
}

.lawyer-slider .avatar img {
    height: 10.98097vw;
    width: 10.98097vw;
    border-radius: 50%;
}

.lawyer-slider a em {
    margin-top: 1.0981vw;
    text-align: center;
    font-size: 1.1713vw;
    line-height: 3.3675vw;
    color: #dfdfdf;
}

.lawyer-slider a span {
    text-align: center;
    font-size: 1.02489vw;
    line-height: 1.75695vw;
    color: #dfdfdf;
}

.complex {
    width: 100%;
    background: #fff;
}

.complex .complex-title {
    height: 20.64422vw;
    padding-top: 2.92826vw;
    box-sizing: border-box;
    border-bottom: 0.14641vw solid #666666;
}

.complex-title .complex-title-container {
    display: flex;
    width: 87.84773vw;
    margin: 0 auto;
    justify-content: space-between;
}

.complex-title-container a {
    display: flex;
    width: 13.17716vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.complex-title-container a .icon {
    position: relative;
    display: flex;
    transform: rotate(45deg);
    width: 7.32064vw;
    height: 7.32064vw;
    text-align: center;
    line-height: 7.32064vw;
    margin: 2.92826vw;
    justify-content: center;
    align-items: center;
}

.complex-title-container a .icon::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #28a449;
    transform: scale(0);
    transition: all .8s cubic-bezier(.77, 0, .175, 1) 0s;
}

.complex-title-container a .icon::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    transition: all .8s cubic-bezier(.455, .03, .515, .955) 0s;
}

.complex-title-container a .icon span {
    width: 2.92826vw;
    height: 2.92826vw;
    transform: rotate(-45deg);
    background: url('../images/content/complex/complex_title.png') no-repeat 0 0.29283vw/200% auto;
    transition: background .3s;
}

.complex-title-container a:nth-child(2) .icon span {
    height: 2.56223vw;
    background-position-y: -2.70864vw;
}

.complex-title-container a:nth-child(3) .icon span {
    background-position-y: -5.27086vw;
}

.complex-title-container a:nth-child(4) .icon span {
    height: 2.56223vw;
    background-position-y: -8.19912vw;
}

.complex-title-container a p {
    font-size: 1.1713vw;
}

.complex-title-container a .arrow {
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.46413vw;
    border-color: transparent transparent #666 transparent;
}

.complex-title-container a.active .icon::before {
    transform: scale(1, 1);
}

.complex-title-container a.active .icon::after {
    transform: scale(1.2, 1.2);
}

.complex-title-container a.active .icon span {
    background-position-x: -2.92826vw;
}

.complex-title-container a.active p {
    color: #28a449;
}

.complex-title-container a.active .arrow {
    display: block;
}

.complex .complex-content {
    width: 87.84773vw;
    height: 23.71889vw;
    margin: 0 auto;
}

.complex-content .complex-content-item {
    width: 100%;
    height: 100%;
}

.complex .complex-content .complex-content-item {
    display: none;
}

.complex .complex-content .complex-content-item.active {
    display: block;
}

.complex-content .complex-content-item .list {
    display: flex;
    justify-content: space-between;
}

.complex-content>div:nth-child(1) {
    padding-top: 2.19619vw;
    box-sizing: border-box;
}

.complex-content .complex-content-item .top-list {
    margin-bottom: 2.19619vw;
}

.complex-content .complex-content-item .list li {
    width: 15.81259vw;
    height: 6.88141vw;
    padding: 0.73206vw 1.02489vw;
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: pointer;
}

.complex-content-item .list li a {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/content/complex/customer/customer_01.png') no-repeat;
}

.complex-content-item .top-list li:nth-child(2) a {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/content/complex/customer/customer_02.png') no-repeat;
}

.complex-content-item .top-list li:nth-child(3) a {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/content/complex/customer/customer_03.png') no-repeat;
}

.complex-content-item .list li a:hover {
    background-position-x: -13.76281vw;
}

.complex-content>div:nth-child(2) .news-container,
.complex-content>div:nth-child(4) .contact-container {
    display: flex;
    justify-content: space-between;
}

.complex-content>div:nth-child(2) .left-news {
    margin-right: 1.46413vw;
}

.complex-content>div:nth-child(2) .news>a {
    display: block;
    height: 1.83016vw;
    padding-top: 0.73206vw;
    box-sizing: border-box;
    text-align: right;
    color: #00a2ff;
    font-size: 0.87848vw;
}

.complex-content>div:nth-child(2) .news .item {
    display: flex;
    height: 9.51684vw;
    justify-content: space-between;
}

.complex-content .news>div:nth-child(2) {
    margin-bottom: 1.0981vw;
}

.complex-content .news .item .picture img {
    display: block;
    width: 9.59004vw;
    height: 9.59004vw;
}

.complex-content .news .item .describe {
    padding: 0.73206vw 0.73206vw 0.73206vw 1.02489vw;
    background: #f2f2f2;
}

.complex-content .news .item .describe i {
    display: block;
    font-size: 0.87848vw;
    line-height: 1.61054vw;
    color: #666;
}

.complex-content .news .item .describe h5 {
    width: 31.8448vw;
    font-size: 1.1713vw;
    line-height: 1.90337vw;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.complex-content .news .item .describe p {
    text-indent: 2em;
}

.complex-content .news .item .describe a {
    display: block;
    font-size: 0.87848vw;
    line-height: 2.04978vw;
    color: #00a2ff;
}

.complex-content-item .honor {
    display: flex;
    justify-content: space-between;
}

.complex-content-item .top-honor {
    padding-top: 1.83016vw;
    box-sizing: border-box;
}

.complex-content-item .honor li {
    display: flex;
    flex: 1;
    height: 10.98097vw;
    align-items: center;
    justify-content: space-between;
}

.honor li .picture {
    margin-right: 0.73206vw;
}

.honor li .picture img {
    width: 11.71303vw;
    height: auto;
}

.honor li .describe {
    padding-right: 0.73206vw;
}

.honor li .describe h5 {
    line-height: 1.83016vw;
}

.honor li .describe p {
    font-size: 0.87848vw;
    line-height: 1.61054vw;
    color: #666;
    text-indent: 2em;
}

.complex-content>div:nth-child(4) {
    padding-top: 2.92826vw;
    box-sizing: border-box;
}

.complex-content-item .contact {
    height: 100%;
}

.complex-content-item .contact>span {
    display: block;
    width: 16.10542vw;
    height: 2.34261vw;
    margin-bottom: 1.0981vw;
    background: url('../images/content/complex/contact/telephone.png') no-repeat;
}

.complex-content-item .contact .text {
    display: flex;
    width: 46.12006vw;
    justify-content: space-between;
}

.complex-content-item .contact .text .internet p {
    width: 16.10542vw;
    font-size: 0.87848vw;
    line-height: 3.07467vw;
}

.complex-content-item .contact .text>p {
    font-size: 0.87848vw;
    line-height: 3.07467vw;
}

.complex-content-item .QRcode {
    display: flex;
    width: 41.72767vw;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.complex-content-item .QRcode>div {
    margin-left: 1.83016vw;
}

.complex-content-item .QRcode p {
    line-height: 2.34261vw;
    font-size: 0.87848vw;
    text-align: center;
}